.footer__title{
    text-align: center;
    font-size: var(--size-base);
    font-weight: 400;
    user-select: none;
    letter-spacing: 0.2em;
    color: var(--clr-slate600);
    text-transform: uppercase;
    
}